/* === COMMON === */
*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}
body {
  font-family: "Montserrat", sans-serif;
  color: #201b2d;
  font-size: 15px;
  padding: 0;
  margin: 0;
  /* overflow-x: hidden; */
  background: linear-gradient(168.47deg, #211f20 0%, #252023 87.22%);
}
html {
  scroll-behavior: smooth;
}

div,
p,
input,
button,
form,
span,
a,
ul,
li {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: 900;
}

p {
  line-height: 1.65em;
}

a {
  padding: 0;
  margin: 0;
  text-decoration: none;
}

.container {
  width: 1301px;
  margin: 0 auto;
}
.left-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 91.9%;
  color: #fff;
  margin-top: 61px;
}

/* === / COMMON === */

/* Header burger */

.header__burgher {
  display: none;
}
.header__burgher.active span {
  transform: scale(0);
}
.header__burgher.active::before {
  transform: rotate(45deg);
  top: 9px;
}
.header__burgher.active::after {
  transform: rotate(-45deg);
  bottom: 9px;
}

/* Header burger */

/* === HEADER === */
.head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav__list {
  display: flex;
}
.nav__list li {
  list-style: none;
  margin: 0 0 0 36px;
}
.nav__link a {
  font-size: 15px;
  line-height: 18px;
  color: #fff;
}
.nav__link:hover a {
  padding-bottom: 5px;
  border-bottom: 1px solid #a33787;
  transition: all 0.23s ease;
}

.header {
  padding-top: 52px;
  color: #fff;
  padding-bottom: 110px;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.offer {
  width: 480px;
}

.title {
  font-weight: bold;
  font-size: 40px;
  line-height: 49px;
}

.title span {
  border-bottom: 3px solid #a33787;
}

.intro {
  font-weight: 400;
  font-size: 19px;
  line-height: 28px;
  margin-bottom: 35px;
  margin-top: 30px;
  width: 400px;
}

.btn,
.btn2 {
  font-family: "Montserrat", sans-serif;
  background: linear-gradient(94.72deg, #7138a4 6.45%, #a63786 98.54%);
  box-shadow: 0px 6px 30px rgba(139, 55, 149, 0.35);
  border-radius: 100px;
  color: #fff;
  font-weight: 600;
  font-size: 17px;
  display: block;
  width: 182px;
  height: 58px;
  padding: 18px 0;
  text-align: center;
  text-decoration: none;
  transition: all 0.3s ease;
  cursor: pointer;
}

.btn:hover,
.btn2:hover {
  box-shadow: none;
}

.desktop {
  margin-top: 114px;
  margin-right: -25px;
}
/* === / HEADER === */

/* === INTERVIEWS === */
.footages {
  display: flex;
  align-items: center;
}
.showcase-wrapper {
  width: 930px;
}
.title-wrapper {
  margin-top: 80px;
  height: 141px;
  width: 246px;
  margin-left: 10px;
}
.micro-title {
  font-size: 13px;
  line-height: 91.9%;
  color: #a33787;
  margin-bottom: 23px;
}
.title-wrapper .title {
  font-weight: 700;
  font-size: 30px;
  line-height: 118.4%;
  margin-bottom: 25px;
  color: #fff;
}
.cards {
  display: flex;
}
.card-2 {
  margin-top: 40px;
}
.card-3 {
  margin-top: 80px;
}
.card {
  width: 284px;
  height: 316px;
  background: #2b2a42;
  box-shadow: 0px 6px 20px #1b1b1d;
  border-radius: 10px;
  margin-right: 35px;
}
.card__img {
  display: block;
  width: 100%;
  object-fit: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.card__content {
  padding: 30px 33px;
}
.card__text {
  font-size: 16px;
  color: #dcbcd4;
}
.card__text span {
  font-weight: 700;
}
/* === / INTERVIEWS === */

/* === ABOUT-US === */
.about-us {
  padding-top: 140px;
}
.my-story {
  display: flex;
  justify-content: space-between;
}
.story-img {
  filter: drop-shadow(50px -40px 50px rgba(56, 154, 244, 0.3))
    drop-shadow(-50px 45px 50px rgba(133, 120, 213, 0.45));
}

.story-text {
  width: 490px;
  font-size: 16px;
  line-height: 142.9%;
  color: #fff;
  margin-top: 43px;
}
/* === / ABOUT-US === */

/* === OUR-STAFF === */
.our-staff {
  padding-top: 40px;
}
.left-staff-title {
  margin-bottom: 57px;
}
.staff-wrapper {
  display: flex;
  justify-content: space-between;
}
.staff {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.staff-img1 {
  filter: drop-shadow(0px 7px 40px rgba(85, 130, 197, 0.38));
}
.staff-img2 {
  filter: drop-shadow(0px 7px 40px rgba(187, 92, 160, 0.38));
}
.staff-img3 {
  filter: drop-shadow(0px 7px 40px rgba(125, 76, 168, 0.38));
}
.position h5 {
  margin-top: 50px;
  font-size: 15px;
  line-height: 118.4%;
  color: #fff;
}
.staff-name h3 {
  margin-top: 15px;
  font-size: 20px;
  font-weight: 700;
  line-height: 118.4%;
  color: #a5779b;
}
/* === / OUR-STAFF === */

/* === OUR-GALLERY === */
.our-gallery {
  padding-top: 100px;
}
.left-gallery-title {
  margin-bottom: 55px;
}
.gallery-wrapper {
  display: flex;
  justify-content: center;
}
.gallery {
  display: grid;
  grid-template-columns: repeat(3, 413px);
  grid-template-rows: repeat(2, 377px);
  grid-gap: 30px;
  justify-items: stretch;
}
.gallery img {
  border-radius: 15px;
  transition: 0.4s ease;
}
.gallery img:hover {
  filter: none;
  transition: 0.4s ease;
  transform: scale(1.1);
}
.gallery a:nth-child(1) {
  filter: drop-shadow(0px 7px 35px rgba(223, 236, 246, 0.35));
  transition: 0.4s ease;
}
.gallery a:nth-child(2) {
  filter: drop-shadow(0px 7px 35px rgba(69, 14, 28, 0.52));
  transition: 0.4s ease;
}
.gallery a:nth-child(3) {
  filter: drop-shadow(0px 7px 35px rgba(43, 67, 84, 0.52));
  transition: 0.4s ease;
}
.gallery a:nth-child(4) {
  margin-top: -189px;
  transition: 0.4s ease;
  filter: drop-shadow(0px 7px 35px rgba(7, 118, 145, 0.24));
}
.gallery a:nth-child(5) {
  filter: drop-shadow(0px 5px 35px rgba(224, 104, 64, 0.4));
  transition: 0.4s ease;
}
.gallery a:nth-child(6) {
  margin-top: -91px;
  filter: drop-shadow(0px 7px 35px rgba(192, 106, 104, 0.28));
  transition: 0.4s ease;
}
.gallery a:hover {
  filter: none;
  transition: 0.4s ease;
}
/* === / OUR-GALLERY === */

/* === CONTACT === */

.contact-wrapper {
  margin-top: -50px;
  position: relative;
  padding-bottom: 250px;
  background: url("../img/Contact-us.png") no-repeat;
  display: flex;
  justify-content: space-between;
}
.left-contact-title {
  margin-top: 168px;
  line-height: 124.9%;
}
.contact__paragraph {
  margin-top: 38px;
  width: 443px;
  font-size: 16px;
  line-height: 142%;
  color: #ffffff;
}
.form-wrapper {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-top: 180px;
  margin-right: -30px;
}
.form {
  width: 275px;
  position: relative;
  height: 50px;
  overflow: hidden;
  color: #dcbcd4;
  /* margin-bottom: 47px; */
}

.form input {
  width: 100%;
  height: 100%;
  color: #fff;
  padding-top: 20px;
  border: none;
  outline: none;
  background-color: transparent;
}
.form label {
  position: absolute;
  bottom: 0px;
  left: 0%;
  width: 100%;
  height: 100%;
  pointer-events: none;
  border-bottom: 1px solid #dcbcd4;
}
.content-name {
  position: absolute;
  bottom: 5px;
  left: 0px;
  transition: all 0.3s ease;
}
.form input:focus + .label-name .content-name,
.form input:valid + .label-name .content-name {
  transform: translateY(-150%);
  font-size: 14px;
  color: #dcbcd4;
}

.form input:focus + .label-name::after,
.form input:valid + .label-name::after {
  transform: translateX(0%);
}

/* === / CONTACT === */

/* === FOOTER === */
.footer {
  background: #0e0e10;
}
.footer .container {
  background: url("../img/footer-elipse.png") no-repeat;
  background-position: left bottom;
}
.footer-wrapper {
  padding-top: 110px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  /* align-items: center; */
}
.footer__list {
  display: flex;
  flex-direction: column;
}
.footer__list li {
  margin-bottom: 14px;
}
.subscribe__title {
  font-weight: 700;
  font-size: 19px;
  line-height: 149.4%;
  color: #dcbcd4;
  margin-bottom: 13px;
}
.email-form {
  display: flex;
  flex-wrap: wrap;
}
.first-btn {
  margin-left: 30px;
  border-radius: 100px;
  width: 48px;
  height: 48px;
  border: none;
  box-shadow: 0px 5px 20px rgba(137, 79, 166, 0.5);
  background: url("../img/arrow-footer.png"),
    linear-gradient(134.58deg, #7737a0 15.99%, #a03789 83.5%);
  background-repeat: no-repeat, repeat;
  background-position: center;
  transition: 0.2s ease;
  cursor: pointer;
}
.first-btn:hover {
  box-shadow: none;
}
.footer-border {
  padding-top: 87px;
  border-bottom: 1px solid #dcbcd4;
}
.media-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 80px;
}
.media-wrapper a {
  margin: 0 7px;
}
.instagram:hover {
  border-radius: 100%;
  background: linear-gradient(
    0deg,
    #e09b3d 0.29%,
    #c74c4d 29.97%,
    #c21975 59.65%,
    #7024c4 99.22%
  );
  stroke: #fff;
}
.youtube:hover {
  border-radius: 100%;
  background: #f61c0d;
  stroke: #fff;
}
.facebook:hover {
  border-radius: 100%;
  background: #4867aa;
  stroke: #fff;
}
.twitter:hover {
  border-radius: 100%;
  background: #41abe1;
  stroke: #fff;
}
.credits {
  margin-top: 34px;
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  color: #dcbcd4;
  align-items: center;
}
.rights {
  margin-left: 125px;
}
.phone-and-btn {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.phone {
  margin-right: 35px;
}
.sicoras-btn {
  padding: 10px 16px;
  border: 1px solid #dcbcd4;
  border-radius: 100px;
  color: #dcbcd4;
}
.sicoras-btn:hover {
  color: #fff;
  background: linear-gradient(134.58deg, #7737a0 15.99%, #a03789 83.5%);
}
.best {
  margin-top: 13px;
  display: flex;
  justify-content: center;
  padding-bottom: 80px;
}
.founders {
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: rgba(220, 225, 231, 0.1);
}
.btn2 {
  display: none;
}
.my-insta {
  color: rgba(220, 225, 231, 0.1);
}
.my-insta:hover {
  color: #7024c4;
  border-bottom: 2px solid #7024c4;
}
/* === / FOOTER === */

/*Responsive*/

/* 992px - 1200px */
@media screen and (max-width: 1440px) {
  .container {
    width: 1100px;
  }
  .desktop {
    width: 70%;
    margin-top: 50px;
  }
  .story-img {
    margin-left: 70px;
  }
  .our-gallery {
    padding-bottom: 100px;
  }
  .gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
  }
  .gallery a {
    width: 32.4%;
  }
  .gallery img {
    width: 100%;
  }
  .gallery a:nth-child(4) {
    margin-top: -147px;
  }
  .gallery a:nth-child(5) {
    margin-top: 13px;
  }
  .gallery a:nth-child(6) {
    margin-top: -63px;
  }
  .contact-wrapper {
    position: relative;
    background: url("../img/Contact-us.png") no-repeat;
    background-size: contain;
    display: flex;
    justify-content: space-between;
  }
  .left-contact-title {
    margin-top: 110px;
    line-height: 124.9%;
  }
  .contact__paragraph {
    margin-top: 38px;
    width: 443px;
    font-size: 16px;
    line-height: 142%;
    color: #ffffff;
  }
  .form-wrapper {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-top: 110px;
    margin-right: -20px;
  }
}
@media screen and (max-width: 1200px) {
  .container {
    width: 992px;
  }
  .header {
    padding-bottom: 0;
  }
  .offer {
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .intro {
    text-align: center;
  }
  .footages {
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-start;
  }
  .showcase-wrapper {
    width: 100%;
  }
  .cards {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .card {
    width: 100%;
    height: auto;
    margin: 0px 10px;
  }
  .card__content {
    height: auto;
    justify-content: center;
    align-items: center;
  }
  .popular-title {
    margin-bottom: 50px;
    margin-left: 10px;
  }
  .title-wrapper {
    margin-left: 0;
  }
  .my-story {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .story-text {
    width: 100%;
  }
  .story-img {
    margin-top: 60px;
    width: 100%;
    filter: drop-shadow(10px 0px 80px rgba(56, 154, 244, 0.3))
      drop-shadow(-10px 0px 80px rgba(133, 120, 213, 0.45));
  }
  .staff-wrapper {
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .staff:nth-child(3) {
    margin-top: 30px;
  }
  .gallery {
    display: flex;
    flex-direction: column;
  }
  .gallery a {
    margin-top: 0;
    margin-bottom: 20px;
  }
  .gallery a:nth-child(4) {
    margin-top: 0;
  }
  .gallery a:nth-child(6) {
    margin-top: 0;
  }
  .our-gallery {
    padding-bottom: 0px;
  }
  .contact-wrapper {
    background-size: cover;
  }
}
/* 768px - 992px */
@media screen and (max-width: 992px) {
  .container {
    width: 720px;
  }
  .wrapper {
    flex-direction: column;
  }
  .offer {
    width: 100%;
  }
  .intro {
    width: auto;
  }
  .desktop {
    display: block;
    width: 549px;
    margin: 72px auto 0;
  }
  .gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
  }
  .gallery a {
    width: 48%;
  }
  .gallery img {
    width: 100%;
  }
  .story-img {
    width: 80%;
    margin: 0 auto;
    margin-top: 50px;
  }
  .subscribe {
    width: 30%;
  }
  .first-btn {
    display: none;
  }
  .btn2 {
    display: block;
  }
  .rights {
    margin: 0 auto;
  }
  .phone-and-btn {
    width: 21%;
  } /* COME BACK TO IT LATTER */
  .phone {
    display: none;
  }
  .founders {
    margin-top: 38px;
  }
  .btn2 {
    display: block;
    width: 100%;
    padding: 5px 50px;
    background: transparent;
    border: 1px solid #dcbcd4;
    box-shadow: none;
    color: #dcbcd4;
  }
}

/* 576px - 768px */
@media screen and (max-width: 768px) {
  .container {
    width: 540px;
  }
  .desktop {
    width: 100%;
  }
  .input {
    width: 100%;
  }
  .btn {
    margin-left: 0;
    margin-top: 15px;
    width: 100%;
  }
  .offer {
    text-align: center;
  }
  .cards {
    align-items: stretch;
  }
  .card__text {
    font-size: 15px;
  }
  .staff-wrapper {
    justify-content: center;
  }
  .staff {
    margin: 0px 0 30px 0;
  }
  .about-staff {
    margin-top: -30px;
  }
  .story-img {
    margin: 0 auto;
    width: 90%;
  }
  .left-contact-title {
    margin-top: 100px;
  }
  .contact-wrapper {
    flex-direction: column;
  }
  .contact__paragraph {
    width: 100%;
  }
  .form-wrapper {
    width: 100%;
    margin: 0;
    margin-top: 30px;
    display: flex;
    align-items: center;
  }
  .contact-wrapper {
    padding-bottom: 100px;
  }
  .form-wrapper {
    width: 100%;
    margin: 0;
    margin-top: 30px;
    display: flex;
    align-items: center;
  }
  .contact-wrapper {
    padding-bottom: 100px;
  }
  .footer-wrapper {
    padding-top: 40px;
    display: flex;
    flex-direction: column;
  }
  .footer-nav-1,
  .footer-nav-2,
  .footer-logo {
    display: none;
  }
  .subscribe {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .email-form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .first-btn {
    display: none;
  }
  .credits {
    flex-direction: column;
  }
  .designer {
    margin-bottom: 10px;
  }
  .founders {
    margin-top: 0px;
  }
  .rights {
    margin: 0;
    margin-bottom: 10px;
  }
  .phone-and-btn {
    width: auto;
    margin-bottom: 45px;
  }
  .phone {
    display: block;
    margin-right: 14px;
  }
}

/* 320px - 576px */
@media screen and (max-width: 576px) {
  .container {
    width: 90%;
  }
  .header {
    padding-top: 20px;
  }
  .header__burgher {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    position: relative;
    z-index: 3;
  }
  .header__burgher span {
    position: absolute;
    background-color: #fff;
    left: 0;
    width: 100%;
    height: 2px;
    top: 9px;
    transition: all 0.3s ease 0s;
  }
  .header__burgher::before,
  .header__burgher::after {
    content: "";
    background-color: #fff;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0%;
    transition: all 0.5s ease 0s;
  }
  .header__burgher::before {
    top: 0;
  }
  .header__burgher::after {
    bottom: 0;
  }
  .nav {
    position: fixed;
    top: -100%;
    right: 0;
    width: 40%;
    height: auto;
    overflow: auto;
    border-bottom-left-radius: 15px;
    background: #211f20;
    border-left: 1px solid #fff;
    border-bottom: 1px solid #fff;
    padding: 70px 10px 20px 20px;
    transition: all 0.5s ease 0s;
  }
  .nav.active {
    top: 0;
  }
  .nav__list {
    display: block;
  }
  .nav__list li {
    margin: 20px 0px 20px 0px;
  }
  .nav__link a {
    color: #fff;
    font-size: 16px;
  }
  .offer {
    margin-top: 30px;
  }
  .intro {
    margin-bottom: 5px;
  }
  .desktop {
    margin-top: 30px;
  }
  .cards {
    flex-direction: column;
  }
  .showcase {
    margin: 0 auto;
  }
  .card {
    width: 90%;
    margin: 0;
    margin: 0 auto;
    margin-bottom: 30px;
  }
  .about-us {
    padding-top: 50px;
  }
  .story-img {
    margin-top: 60px;
    width: 100%;
    filter: drop-shadow(5px 0px 20px rgba(56, 154, 244, 0.3))
      drop-shadow(-5px 0px 20px rgba(133, 120, 213, 0.45));
  }
  .staff {
    width: 80%;
  }
  .staff img {
    width: 100%;
  }
  .our-gallery {
    padding-top: 50px;
  }
  .our-gallery .left-title {
    margin-top: 0;
  }
  .gallery img {
    width: 100%;
  }
  .gallery {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-content: center;
  }
  .gallery img:hover {
    transform: scale(1);
  }
  .gallery a {
    width: 100%;
  }
}
