*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
}
body {
  background-color: #f3f1e3;
  font-family: "Montserrat", sans-serif;
}

.wrapper {
}
.container {
  max-width: 1286px;
  margin: 0 auto;
  padding: 0 10px;
}
.header {
  position: fixed;
  width: 100%;
  left: 0;
  z-index: 50;
  transition: all 0.3s ease;
  padding-bottom: 5px;
}
.header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  z-index: 2;
}
.header__body {
  position: relative;
  display: flex;
  justify-content: space-between;
  height: 80px;
  align-items: center;
}
.header__logo {
  flex: 0 0 60px;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  z-index: 3;
}
.header__logo img {
  max-width: 100%;
  display: block;
}
.header__burgher {
  display: none;
}
.header__burgher.active span {
  transform: scale(0);
}
.header__burgher.active::before {
  transform: rotate(45deg);
  top: 9px;
}
.header__burgher.active::after {
  transform: rotate(-45deg);
  bottom: 9px;
}
.header__list {
  display: flex;
  position: relative;
  z-index: 2;
}
.header__list li {
  list-style: none;
  margin: 0 0 0 40px;
}
.header__link a {
  text-decoration: none;
  font-size: 16px;
  line-height: 20px;
  font-size: 16px;
  line-height: 20px;
  color: #170805;
}
.header__link .active {
  font-weight: 600;
}
.header_bar {
  background-color: #448b6d;
  transition: all 0.3s ease;
}
.header_bar a {
  color: #fff;
  transition: all 0.3s ease;
}
.header_bar .svg path {
  stroke: #fff;
  transition: all 0.3s ease;
}
.container .content2 {
  position: relative;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}
.content__left {
  display: flex;
  flex-direction: column;
}
.content__right img {
  width: 100%;
}
.content .name {
  /* margin-top: 215px; */
  font-weight: 300;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.12em;
  color: #4f403f;
}
.content .title {
  margin-top: 41px;
  font-weight: 800;
  font-size: 56px;
  line-height: 60px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #170805;
}
.content .subtitle {
  margin-top: 25px;
  font-weight: 300;
  font-size: 34px;
  line-height: 60px;
  text-transform: uppercase;
  color: #170805;
}
.content .subtitle span {
  color: #fff;
}
.btn {
  margin-top: 25px;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 276px;
  height: 60px;
  background: #448b6d;
  border-radius: 10px;
  transition: all 0.2s ease;
  cursor: pointer;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
}
.btn:hover {
  background: transparent;
  border: 2px solid #448b6d;
  box-sizing: border-box;
  border-radius: 10px;
  color: #448b6d;
  transition: all 0.2s ease;
}
.content .scroll {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  bottom: 0;
  width: 141px;
  height: 42px;
  padding-bottom: 30px;
}
.scroll img {
  width: 16.5px;
  height: 42px;
  margin-right: 11.5px;
}
.scroll .scroll-text {
  font-weight: 300;
  font-size: 16px;
  line-height: 20px;
  color: #170805;
}
.second-page {
  padding-bottom: 110px;
  background: url("../img/back.png") right center / 35% no-repeat;
  background-color: #fff;
}
.about-us_1,
.about-us_2 {
  padding-top: 110px;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.about-us_2 {
  margin-top: 50px;
}
.about-us_1 .right {
  padding-right: 99px;
  margin-left: 100px;
}
.about-us_2 .left {
  margin-right: 100px;
  padding-right: 50px;
}
.about-us_2 .right img {
  margin-right: 75px;
  border-radius: 15px;
}
.about-us_1 .title,
.about-us_2 .title {
  font-weight: 800;
  font-size: 40px;
  line-height: 60px;
  letter-spacing: -0.005em;
  color: #170805;
}
.about-us_1 .paragraph,
.about-us_2 .paragraph {
  margin-top: 15px;
  font-size: 18px;
  line-height: 34px;
  color: #170805;
}
.about-us_1 .btn {
  margin-top: 35px;
}

@media screen and (max-width: 1600px) {
  .container .subtitle span {
    color: #170805;
  }
}
@media screen and (max-width: 1200px) {
  .container .subtitle span {
    color: #170805;
  }
}
@media screen and (max-width: 1199px) {
  .container .subtitle span {
    color: #170805;
  }
}
@media screen and (max-width: 991px) {
  .container .subtitle span {
    color: #170805;
  }
}
@media (max-width: 767px) {
  body.lock {
    overflow: hidden;
  }
  .container .subtitle span {
    color: #170805;
  }
  .header {
    padding-top: 10px;
    padding-bottom: 15px;
    transition: all 0.3s ease;
  }
  .header__body {
    height: 50px;
  }
  .header__logo {
    flex: 0 0 40px;
  }
  .header__burgher {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    position: relative;
    z-index: 3;
  }
  .header__burgher span {
    position: absolute;
    background-color: #fff;
    left: 0;
    width: 100%;
    height: 2px;
    top: 9px;
    transition: all 0.3s ease 0s;
  }
  .header__burgher::before,
  .header__burgher::after {
    content: "";
    background-color: #fff;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    transition: all 0.3s ease 0s;
  }
  .header__burgher::before {
    top: 0;
  }
  .header__burgher::after {
    bottom: 0;
  }
  .header__menu {
    position: fixed;
    display: flex;
    justify-content: flex-end;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #448b6d;
    padding: 70px 10px 20px 10px;
    transition: all 0.3s ease 0s;
  }
  .header__menu.active {
    top: 0;
  }
  .header__list {
    display: block;
  }
  .header__list li {
    margin: 0px 10px 25px 0;
  }
  .header__link {
    font-size: 24px;
  }
}

.content {
  padding: 100px 0 0 0;
}
.content__text {
  font-size: 18px;
  line-height: 25px;
}
.content__text p {
  margin: 0 0 20px 0;
}
@media (max-width: 767px) {
  .content {
    padding: 70px 0 0 0;
  }
}
