*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  background-color: #333;
  font-family: Arial, Helvetica, sans-serif;
  color: #fff;
  font-size: 25px;
}

.wrapper {
  height: 100%;
  padding: 50px;
  width: 1440px;
  margin: 0 auto;
}

/* flex container */
/* .flex {
  display: flex;
} */

/* флекс элемент*/
/* .flex__column {
  min-width: 0;
} */

/* slider */
/* .slider {
  min-width: 0;
} */

.slick-list {
  overflow: hidden;
}

.slick-track {
  display: flex;
}

.slider__item {
  display: flex;
  justify-content: center;
  margin: 0 25px;
}

.slider {
  position: relative;
  width: 1300px;
}

.slider .slick-arrow.slick-prev {
  right: 7%;
  background: url("../arrow.svg") 0 0 no-repeat;
  background-size: 30px;
  background-position: center;
  transition: all 0.23s ease;
}
.slider .slick-arrow.slick-next {
  right: 0;
  background: url("../arrow.svg") 0 0 no-repeat;
  transform: rotate(180deg);
  background-size: 30px;
  background-position: center;
  transition: all 0.23s ease;
}

.slider .slick-arrow.slick-next:hover,
.slider .slick-arrow.slick-prev:hover {
  background: url("../arrow-hover-copy.svg") 0 0 no-repeat;
  background-size: 30px;
  background-position: center;
  background-color: #f53838;
  transition: all 0.23s ease;
}

.slider .slick-arrow {
  position: absolute;
  top: 115%;
  z-index: 10;
  font-size: 0;
  width: 60px;
  height: 60px;
  border: 2px solid #f53838;
  border-radius: 50px;
}

.slider .slick-dots {
  display: flex;
  align-items: center;
  justify-content: center;
}
.slider .slick-dots li {
  list-style: none;
  margin: 0 15px;
}
.slider .slick-dots button {
  font-size: 0;
  width: 15px;
  height: 15px;
  background-color: #dde0e4;
  border-radius: 50px;
  transition: all 0.23s ease;
}
.slider .slick-dots li.slick-active button {
  background-color: #f53838;
  width: 45px;
  height: 15px;
  transition: all 0.23s ease;
}

.slider {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-top: 60px;
}

.slide-wrapper {
  width: 340px;
  margin: 30px;
}

.slide {
  background: #ffffff;
  border: 2px solid #dddddd;
  box-sizing: border-box;
  border-radius: 10px;
  margin: 0 25px;
}

.slide.active {
  border: 2px solid #f53838;
  box-shadow: 0px 70px 114px rgba(13, 16, 37, 0.06);
}

.slide-head {
  display: flex;
  justify-content: space-between;
}

.costumer-info {
  display: flex;
  align-items: center;
}

.costumer {
  margin-left: 20px;
  display: flex;
  flex-direction: column;
}

.costumer h6 {
  font-weight: 500;
  font-size: 18px;
  color: #0b132a;
  margin-bottom: 5px;
}

.costumer p {
  font-weight: normal;
  font-size: 14px;
  color: #4f5665;
}

.comment {
  margin-top: 8px;
  font-size: 16px;
  line-height: 30px;
  color: #0b132a;
}

.raiting {
  display: flex;
  align-items: center;
}

.raiting p {
  margin-right: 10px;
}
