@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap");
* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 40px;
  background: #0e0e10;
}
.container {
  /* max-width: 857px; */
  background: #0e0e10;
  width: 857px;
}
.container .text {
  font-weight: 700;
  font-size: 30px;
  line-height: 91.9%;
  color: #dcc6d8;
}
.container form {
  padding: 50px 0 0 0;
}
.container form .form-row {
  display: flex;
  margin: 30px 0;
}
form .form-row .input-data {
  width: 370px;
  height: 41px;
  margin: 0 30px 0 0;
  position: relative;
}
form .form-message .input-data {
  width: 776px;
  margin: 60px 0 112px 0 !important;
}
.input-data input,
.textarea textarea {
  display: block;
  width: 100%;
  height: 100%;
  border: none;
  font-weight: 500;
  font-size: 18px;
  color: #fff;
  padding: 20px 0;
  background: transparent;
  border-bottom: 1px solid #dcc6d8;
}
.input-data input:focus ~ label,
.textarea textarea:focus ~ label,
.input-data input:valid ~ label,
.textarea textarea:valid ~ label {
  transform: translateY(-25px);
  font-size: 14px;
  color: #dcc6d8;
}
.textarea textarea {
  resize: none;
  padding-top: 10px;
  padding-bottom: 112px;
  color: #fff;
  overflow-y: hidden;
}
.input-data label {
  position: absolute;
  pointer-events: none;
  bottom: 10px;
  font-size: 18px;
  transition: all 0.3s ease;
  color: rgba(243, 219, 238, 0.9);
}
.textarea label {
  width: 100%;
  background: transparent;
}
.input-data .underline {
  position: absolute;
  bottom: 0;
  height: 2px;
  width: 100%;
}
.underline-message {
  height: 0 !important;
  margin-bottom: -81px;
}
.input-data .underline:before {
  position: absolute;
  content: "";
  height: 2px;
  width: 100%;
  background: #dcc6d8;
  transform: scaleX(0);
  transform-origin: center;
  transition: transform 0.3s ease;
}
.input-data input:focus ~ .underline:before,
.input-data input:valid ~ .underline:before,
.textarea textarea:focus ~ .underline:before,
.textarea textarea:valid ~ .underline:before {
  transform: scale(1);
}
.form-message {
  display: flex;
}
/* .btn input {
  border-radius: 100px;
  width: 48px;
  height: 48px;
  z-index: -2;
} */
.btn input {
  margin-top: 135px;
  margin-left: 35px;
  border-radius: 100px;
  width: 48px;
  height: 48px;
  border: none;
  box-shadow: 0px 5px 20px rgba(137, 79, 166, 0.5);
  background: url("../arrow-footer.png"),
    linear-gradient(180.92deg, #bb5ca0 1.59%, #7d4ca8 98.41%);
  background-repeat: no-repeat, repeat;
  background-position: center;
  transition: 0.2s ease;
}
.btn input:hover {
  box-shadow: none;
}

@media (max-width: 700px) {
  .container .text {
    font-size: 30px;
  }
  .container form {
    padding: 10px 0 0 0;
  }
  .container form .form-row {
    display: block;
  }
  form .form-row .input-data {
    margin: 35px 0 !important;
  }
  .submit-btn .input-data {
    width: 40% !important;
  }
}
