.header-product {
  padding-top: 24px;
}

.arrow-back {
  padding-top: 55px;
  padding-bottom: 40px;
}

.shop-wrapper {
  display: flex;
  padding-bottom: 100px;
}

.left-sideBar {
  margin-right: 50px;
}

.categories-name {
  border: 1px solid rgba(222, 166, 22, 0.8);
  margin-bottom: 70px;
  padding: 14px 181px 13px 42px;
}

.categories-name h3 {
  font-family: "Koho", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 100%;
  color: #ffffff;

  margin-bottom: 31px;
}

.nav__list-product {
  display: flex;
  flex-direction: column;
}
.nav__list-product li {
  list-style: none;
  margin: 0 0 25px 0;
}
.nav__link-product a {
  font-family: "Koho", sans-serif;
  font-weight: 200;
  font-size: 20px;
  line-height: 100%;
  color: #ffffff;
}
.nav__link-product:hover a {
  transition: all 0.23s ease;
  color: #dea616;
}

.nav__link-product.active a {
  color: #dea616;
}

.sideBar-about {
  width: 303px;
  height: 1224px;
  border: 1px solid rgba(222, 166, 22, 0.8);
}

.tabs__content {
  display: grid;
  grid-gap: 30px;
  grid-template-columns: auto auto auto;
}

.shop-item {
  position: absolute;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
}

.shop-item.active {
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=1);
}

.tabs__content {
  display: none !important; /* по умолчанию прячем все блоки */
}

.tabs__content.active {
  display: grid !important; /* по умолчанию показываем нужный блок */
}

.product-desc {
  background-color: #000;
  padding: 23px 20px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-top: -4px;
}

.product-desc img {
  width: 18px;
  height: 13.91px;

  margin-top: 10px;
}

/* .product-desc .text {
} */

.product-desc h5 {
  font-family: "Poiret One", cursive;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 136%;

  color: #ffffff;

  margin-bottom: 10px;
}

.product-desc p {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 136%;

  color: rgba(255, 255, 255, 0.7);
}

.mini-arrow {
  display: none;
}

.normal-arrow img {
  width: auto;
  height: auto;
}
