*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}
a {
  padding: 0;
  margin: 0;
  text-decoration: none;
}
html,
body {
  height: 100%;
  font-family: "Montserrat", sans-serif;
  background-color: #f3f1e3;
  scroll-behavior: smooth;
}

.container {
  max-width: 1180px;
  margin: 0 auto;
  padding: 0 10px;
}

/* Header */

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  transition: all 0.3s ease;
}
.header_active {
  background: #448b6d;
  z-index: 100;
  transition: all 0.3s ease;
  padding-bottom: 15px;
  color: #fff;
}
.header_active .header__link a {
  color: #fff;
}
.header_active a path {
  stroke: #fff;
}
.header__body {
  position: relative;
  display: flex;
  justify-content: space-between;
  height: 80px;
  align-items: center;
  padding-top: 10px;
}
.header__logo {
  flex: 0 0 60px;
  overflow: hidden;
  position: relative;
  z-index: 3;
}
.header__logo img {
  max-width: 100%;
  display: block;
}
.header__list {
  display: flex;
  position: relative;
  z-index: 2;
}

.header__list li {
  list-style: none;
  margin: 0 0 0 42px;
}
.header__link a {
  width: 400;
  text-decoration: none;
  font-size: 16px;
  line-height: 20px;
  color: #170805;
}
.header__link:hover a {
  padding-bottom: 5px;
  border-bottom: 1px solid rgb(185, 185, 185);
  transition: all 0.23s ease;
}
.header__link.active a {
  font-weight: 600;
}

/* Header burger */

.header__burgher {
  display: none;
}
.header__burgher.active span {
  transform: scale(0);
}
.header__burgher.active::before {
  transform: rotate(45deg);
  top: 9px;
}
.header__burgher.active::after {
  transform: rotate(-45deg);
  bottom: 9px;
}

/* Header burger */

/* / Header */

/* Section-1 */
.content {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  padding-top: 100px;
  padding-bottom: 100px;
  width: 100%;
}
.left {
  position: relative;
  flex-basis: 45%;
  box-sizing: border-box;
  left: 0;
  z-index: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.up-title {
  margin-top: 80px;
  font-weight: 300;
  margin-bottom: 30px;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.12em;
  color: #4f403f;
}
.title {
  margin-bottom: 20px;
  font-weight: 800;
  font-size: 56px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #170805;
}
.subtitle {
  font-weight: 300;
  font-size: 34px;
  margin-bottom: 30px;
  text-transform: uppercase;
  color: #170805;
}
.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 276px;
  height: 60px;
  text-decoration: none;
  border: 2px solid #448b6d;
  background: #448b6d;
  border-radius: 10px;
  font-weight: bold;
  font-size: 18px;
  color: #ffffff;
  transition: all 0.2s ease;
}
.btn:hover {
  border: 2px solid #448b6d;
  background: transparent;
  color: #448b6d;
  transition: all 0.2s ease;
}
.scroll {
  display: flex;
  align-items: center;
}
.scroll-text {
  margin-left: 12px;
  font-weight: 300;
  font-size: 16px;
  line-height: 20px;
  color: #170805;
}

.right {
  flex-basis: 55%;
  box-sizing: border-box;
  position: relative;
  right: 0;
  z-index: 0;
}
.images {
  position: relative;
}
.right .backcup {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
}
.backcup {
  display: block;
  margin-top: 57%;
  margin-right: -5%;
}
.right.cup {
  position: absolute;
  top: 0;
  z-index: 1;
}
.cup {
  margin-top: -19%;
  margin-left: 13%;
}
/* / Section-1 */

/* Section-2 */
.section-2 {
  width: 100%;
  padding-bottom: 100px;
  background: url("../img/big-logo.png") right center / 35% no-repeat;
  background-color: #fff;
}
/* .section-2 .container {
  background-color: #fff;
} */
.about-us {
  width: 100%;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.ab-left {
  padding-top: 100px;
  position: relative;
  flex-basis: 50%;
  box-sizing: border-box;
  left: 0;
}
.ab-us_1 {
  width: 100%;
}
.ab-us_2 {
  width: 100%;
}
.ab-right {
  padding-top: 100px;
  position: relative;
  flex-basis: 50%;
  box-sizing: border-box;
  right: 0;
  padding-left: 100px;
}
.ab-right img {
  margin-left: -90px;
  border-radius: 15px;
}
.ab-right .title,
.ab-left .title {
  font-size: 40px;
  text-transform: none;
}
.ab-left .text,
.ab-right .text {
  font-size: 18px;
  line-height: 34px;
  color: #170805;
}
.ab-right .btn {
  width: 253px;
  margin-top: 30px;
}

/* / Section-2 */

/* Section-3 */

.menu .title {
  padding: 0;
  margin: 0;
  padding: 20px 0;
  font-size: 40px;
  text-transform: none;
}

/* / Section-3 */

/* Section-4 */
.section-4 {
  background-color: #fff;
}
.section-4 .container {
  background-color: #fff;
}
.ice-blended {
  position: relative;
  display: flex;
  flex-direction: column;
  padding-top: 90px;
  padding-bottom: 110px;
}
.description {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  padding: 0;
  margin: 0;
}
.description .title {
  padding: 0;
  margin: 0;
  font-size: 30px;
  text-transform: none;
  padding-right: 33px;
  padding-left: 15px;
}
.d-arrow svg {
  padding: 0;
  margin: 5px 0 0 0;
}
.content2 {
  position: relative;
  display: flex;
  padding-top: 60px;
}
.content2 .cont {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 317px;
  height: 607px;
  outline: none;
  transition: all 0.4s ease;
}
.content2 .cont img {
  width: 172px;
  height: 325px;
}
.content2 .slick-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 317px;
  height: 607px;
  background: #e8e5d4;
  border-radius: 15px;
  transition: all 0.5s ease;
  outline: none;
}
.content2 .slick-center img {
  margin-top: 30px;
  margin-bottom: 30px;
  transform: scale(1.2);
  transition: all 0.5s ease;
}
.new {
  position: absolute;
  display: none;
  align-items: center;
  justify-content: center;
  width: 51px;
  height: 21px;
  background: #20a86f;
  border-radius: 5px;
  top: 0;
  left: 14px;
  font-weight: 300;
  font-size: 15px;
  line-height: 20px;
  color: #ffffff;
  transition: all 0.5s ease;
}
.content2 .slick-center .new {
  display: flex;
}
.cont .name {
  margin-top: 20px;
  width: 212px;
  height: 48px;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #4f403f;
}
.slick-center .name {
  color: rgba(23, 8, 5, 1);
}
.cont .price {
  margin-top: 16px;
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
}
.content2 .slick-center .btn {
  display: flex;
}
.cont .btn {
  display: none;
  width: 170px;
  height: 50px;
  margin-top: 14px;
}
.slick-arrow {
  position: absolute;
  top: 50%;
}
.arrow_next {
  right: 0;
}

/* .cont-1 {
  margin-top: -100px;
}
.cont-2 {
  margin-top: 100px;
} */
/* / Section-4 */

/* Section-6 */
.section-6 {
  background-color: #fff;
}

/* / Section-6 */

/* Map */
.map-block {
  padding-top: 100px;
  padding-bottom: 100px;
}
.map {
  width: 100%;
  height: 600px;
}
/* / Map */

/* Section-7 */
.footer {
  position: relative;
  width: 100%;
  bottom: 0;
  left: 0;
  z-index: 1;
  background: #170805;
}
.header_active .header__link a {
  color: #fff;
}
.header_active a path {
  stroke: #fff;
}
.footer__body {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 80px;
  align-items: center;
  padding-top: 100px;
  padding-bottom: 100px;
}
.header__logo {
  flex: 0 0 60px;
  overflow: hidden;
  position: relative;
  z-index: 3;
}
.header__logo img {
  width: 100%;
  display: block;
}
.footer__menu {
  display: flex;
}
.footer-main__list {
  display: flex;
  margin-right: -63px;
}
.footer__list {
  display: flex;
  position: relative;
  z-index: 2;
}
.footer__list li {
  list-style: none;
  margin: 0 0 0 42px;
}
.footer__list-last {
  display: flex;
  position: relative;
  z-index: 2;
  list-style: none;
}
.footer__list-last:nth-child(2) {
  list-style: none;
  margin: 0 0 0 105px;
}
.footer__list-last .phone span {
  color: #f3f1e3;
  margin-left: 5px;
}
.footer__list-last .phone {
  margin: 0 0 0 105px;
}
.footer__list .header__link a {
  width: 400;
  text-decoration: none;
  font-size: 16px;
  line-height: 20px;
  color: #f3f1e3;
}
.header__link:hover a {
  padding-bottom: 5px;
  border-bottom: 1px solid rgb(185, 185, 185);
  transition: all 0.23s ease;
}
/* / Section-7 */

/* End */
.end {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #170805;
  color: rgba(232, 229, 212, 0.85);
  padding-bottom: 20px;
  margin-top: -1px;
  z-index: 2;
}
/* / End */
@media screen and (max-width: 1441px) {
  .container {
    width: 75%;
  }
  .content {
    width: 100%;
    display: flex;
    flex-direction: row;
  }
  .left {
    z-index: 1;
  }
  .backcup {
    display: block;
    margin-top: 30%;
    margin-right: -10%;
    z-index: -10;
  }
  .right.cup {
    position: absolute;
    top: 0;
    z-index: -1;
  }
  .cup {
    margin-top: -54%;
    margin-left: 13%;
    z-index: -10;
  }
  .scroll {
    display: none;
  }
  .ab-right br {
    display: none;
  }
}
@media screen and (max-width: 1250px) {
}
@media screen and (max-width: 1199px) {
}
@media screen and (max-width: 1025px) {
  .header {
    background-color: #448b6d;
  }
  .header__body {
    height: 50px;
    padding: 10px 0;
  }
  .header__logo {
    flex: 0 0 40px;
  }
  .header__burgher {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    position: relative;
    z-index: 3;
  }
  .header__burgher span {
    position: absolute;
    background-color: #fff;
    left: 0;
    width: 100%;
    height: 2px;
    top: 9px;
    transition: all 0.3s ease 0s;
  }
  .header__burgher::before,
  .header__burgher::after {
    content: "";
    background-color: #fff;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0%;
    transition: all 0.5s ease 0s;
  }
  .header__burgher::before {
    top: 0;
  }
  .header__burgher::after {
    bottom: 0;
  }
  .header__menu {
    position: fixed;
    top: -100%;
    right: 0;
    width: auto;
    height: auto;
    overflow: auto;
    border-bottom-left-radius: 15px;
    background: #448b6d;
    padding: 70px 10px 20px 20px;
    transition: all 0.5s ease 0s;
  }
  .header__menu.active {
    top: 0;
  }
  .header__list {
    display: block;
  }
  .header__list li {
    margin: 20px 0px 40px 0px;
  }
  .header__link a {
    color: #fff;
    font-size: 24px;
  }
  .trash a path {
    stroke: #fff;
  }
}
/* @media screen and (max-width: 1025px) {
  .header {
    z-index: 1000;
  }
  .content {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    top: -90px;
  }
  .left {
    width: 100%;
    flex-basis: 0;
    z-index: 1;
  }
  .backcup {
    width: 80%;
    display: block;
    margin-top: 40%;
    margin-right: 9%;
    z-index: -10;
  }
  .right {
    width: 100%;
    flex-basis: 0;
  }
  .right.cup {
    position: absolute;
    top: 0;
    z-index: -1;
  }
  .cup {
    width: 80%;
    margin-top: -35%;
    margin-left: 10%;
    z-index: -10;
  }
  .scroll {
    display: none;
  }
  .about-us {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-content: center;
  }
  br {
    display: none;
  }
  .ab-right,
  .ab-left {
    margin: 0;
    padding: 0;
    padding-top: 70px;
  }
  .ab-right .btn {
    margin: 15px auto;
  }
  .ab-right img {
    margin: 0;
  }
  .section-2 .container {
    background-color: #fff;
  }
  .arrow_next {
    display: none;
  }
  .arrow_prev {
    display: none;
  }
  .content2 .cont {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 217px;
    height: 507px;
    outline: none;
    transition: all 0.4s ease;
  }
  .content2 .cont img {
    width: 132px;
    height: 245px;
  }
  .content2 .slick-center img {
    margin-top: 30px;
    margin-bottom: 15px;
    transform: scale(1.2);
    transition: all 0.5s ease;
  }
  .footer__body {
    display: flex;
    justify-content: center;
  }
  .footer-main__list {
    display: none;
  }
  .footer__list-last {
    display: none;
  }
  .map {
    height: 400px;
  }
} */
/* Responsible */

@media screen and (max-width: 1200px) {
  .container {
    width: 960px;
  }
}
@media screen and (max-width: 992px) {
  .container {
    width: 720px;
  }
  .left {
    width: 100%;
    flex-basis: 0;
    z-index: 1;
  }
  .backcup {
    width: 80%;
    display: block;
    margin-top: 40%;
    margin-right: 9%;
    z-index: -10;
  }
  .right {
    width: 100%;
    flex-basis: 0;
  }
  .right.cup {
    position: absolute;
    top: 0;
    z-index: -1;
  }
  .cup {
    width: 80%;
    margin-top: -35%;
    margin-left: 10%;
    z-index: -10;
  }
  .scroll {
    display: none;
  }
  .about-us {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-content: center;
  }
  br {
    display: none;
  }
  .ab-right,
  .ab-left {
    margin: 0;
    padding: 0;
    padding-top: 70px;
  }
  .ab-right .btn {
    margin: 15px auto;
  }
  .ab-right img {
    margin: 0;
  }
  .section-2 .container {
    background-color: #fff;
  }
  .arrow_next {
    display: none;
  }
  .arrow_prev {
    display: none;
  }
  .content2 .cont {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 217px;
    height: 507px;
    outline: none;
    transition: all 0.4s ease;
  }
  .content2 .cont img {
    width: 132px;
    height: 245px;
  }
  .content2 .slick-center img {
    margin-top: 30px;
    margin-bottom: 15px;
    transform: scale(1.2);
    transition: all 0.5s ease;
  }
  .footer__body {
    display: flex;
    justify-content: center;
  }
  .footer-main__list {
    display: none;
  }
  .footer__list-last {
    display: none;
  }
  .map {
    height: 400px;
  }
}
@media screen and (max-width: 768px) {
  .container {
    width: 540px;
  }
}
@media screen and (max-width: 576px) {
  .container {
    width: 90%;
  }
}
