* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Anton", sans-serif;
}

h3 {
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  line-height: 37px;
  color: #1e0700;

  margin-bottom: 19px;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans", sans-serif;
}

/* font-family: 'Anton', sans-serif;
font-family: 'Open Sans', sans-serif; */

.container {
  width: 1176px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.header {
  background: url("./header-bg.jpg") no-repeat center top / cover;
  padding: 370px 0;
}

.offer {
  text-align: center;
}

.offer h1 {
  font-style: normal;
  font-weight: normal;
  font-size: 100px;
  line-height: 151.2%;
  letter-spacing: 0.025em;
  color: #fff;

  margin-bottom: 35px;
}

.btn {
  font-family: "Anton", sans-serif;
  font-size: 17px;
  line-height: 25px;
  text-align: center;
  letter-spacing: 0.1em;
  text-decoration: none;
  color: #ffffff;
  transition: 0.3s ease;

  border: 1px solid #fff;
}

.btn:hover {
  background-color: #fff;
  color: #000;
  transition: 0.3s ease;
}

.btn.top {
  width: 191.48px;
  height: 25px;

  padding: 15px 80px;
}

.about {
  margin-top: 105px;
  margin-bottom: 105px;
}

.about h2 {
  font-style: normal;
  font-weight: normal;
  font-size: 50px;
  line-height: 73px;
  letter-spacing: 0.02em;

  color: #1e0700;

  margin-bottom: 58px;
}

.content1 {
  display: flex;
  justify-content: space-between;

  margin-bottom: 42px;
}

.left1 {
  width: 564px;
  align-self: flex-end;
}

.left1 p {
  font-size: 16px;
  line-height: 26px;

  color: #1e0700;
}

.content2 {
  display: flex;
  justify-content: space-between;

  margin-bottom: 84px;
}

.left2 {
  display: flex;
  justify-content: space-between;
  width: 564px;
}

.right2 {
  width: 564px;
  align-self: flex-end;
}

.btn.bottom {
  color: #1e0700;
  border: 1px solid #000000;
  padding: 17px 24px;
  width: 238px;
  height: 57px;
  align-self: center;
}

.btn.bottom:hover {
  color: #fff;
  background-color: #000;
}

.footer {
  background: #1e0700;
  height: 55px;
  display: flex;
  align-items: center;
}

.footer-text {
  display: flex;
  justify-content: center;
}

.footer-text p {
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  line-height: 20px;

  color: #ffffff;
}

.back {
  margin-bottom: 50px;
}

.back::before {
  content: url("./arrow.png");
  top: 0px;
  left: 0;
}

@media screen and (max-width: 576px) {
  .container {
    width: 85%;
  }
  img {
    width: 90%;
  }
  .header {
    padding: 320px 0 350px;
  }
  .offer h1 {
    font-size: 50px;
  }
  .btn.top {
    padding: 7px 20px;
  }
  .about {
    margin-top: 20px;
    margin-bottom: 105px;
  }
  .about h2 {
    text-align: center;
    font-size: 30px;
    margin-bottom: 15px;
  }
  .content1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    margin-bottom: 20px;
  }
  .content2 {
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    margin-bottom: 84px;
  }
  .left1,
  .right2 {
    text-align: center;
  }
  .left1,
  .left2 {
    margin-bottom: 20px;
  }
  .left1,
  .right2 {
    width: auto;
    align-self: none;
    padding: 0 10px;
  }
  .left2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: auto;
  }
  .left2 img:nth-child(1) {
    margin-bottom: 20px;
  }
}
