.header {
  padding-bottom: 55px;
}

.arrow-back {
  padding-bottom: 40px;
}

/* === Our-work === */

.our-work {
  background-color: #151413;
  padding-bottom: 125px;
}

.work {
  display: flex;
  justify-content: space-between;
}

.left-work-image {
  margin-bottom: 52px;
  position: relative;
}

.left-work-image::after {
  content: url("../img/ourWork/bordersvg.svg");
  bottom: -25px;
  right: 30px;
  position: absolute;
}

.left-work-image p {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 14px;
  color: #ffffff;
  position: absolute;
  right: 98px;
  bottom: 17px;
}

.left-work-image p span {
  color: #dea616;
}

.left-work-noslide {
  width: 490px;
  height: 343px;
  background: #f8f3ef;
  border-left: 3px solid #dea616;
  position: relative;
}

.left-work-noslide::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: -1px;
  height: 3px;
  width: 10px;
  background-color: #dea616;
}

.left-work-text {
  padding-top: 50px;
  padding-left: 50px;
  padding-right: 50px;
  color: #262328;
  display: flex;
  flex-direction: column;
}

.left-work-text h2 {
  font-family: "Poiret One", cursive;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 136%;

  color: #262328;
}

.left-work-text p {
  font-family: "KoHo", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 125%;

  color: #262328;
}

.left-work-text a {
  align-self: flex-end;
  margin-right: -3px;
}

.right-work {
  border-top: 1px solid #dea616;
  margin-left: 52px;
}

.right-work-noslide {
  margin-bottom: 60px;
}

.right-work-noslide h2 {
  font-family: "Poiret One", cursive;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 100%;
  color: #ffffff;

  margin-top: 27px;
  margin-bottom: 46px;
}

.right-work-noslide p {
  font-family: "KoHo", sans-serif;
  font-style: normal;
  font-weight: 200;
  font-size: 20px;
  line-height: 144%;
  color: #ffffff;
}

.right-work-image {
  position: relative;
  z-index: 2;
}

.right-work-image-border::after {
  content: "";
  position: absolute;
  border: 3px solid #dea616;
  width: 719px;
  height: 350px;
  left: -22px;
  bottom: -34px;
  z-index: -1;
}

/* === / Our-work === */

/* === Doing === */

.doing {
  color: #fff;
}

.doing-services {
  display: flex;
  justify-content: space-between;
}

.services {
  display: flex;
  flex-direction: column;
}

.services h2 {
  font-family: "Poiret One", cursive;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 100%;

  color: #ffffff;

  margin-bottom: 38px;
}

.services span {
  display: flex;
  align-items: center;

  margin-bottom: 24px;
}

.services span img {
  margin-right: 22px;
}

.services span p {
  font-family: "KoHo", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 120%;

  color: #ffffff;
}

.services-about {
  width: 750px;
}

.services-about h2 {
  font-family: "Poiret One", cursive;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 100%;

  color: #ffffff;

  margin-bottom: 38px;
}

.services-about p {
  font-family: "KoHo", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 145%;

  color: #ffffff;
}

.about-founder {
  display: flex;
  justify-content: space-between;

  margin-bottom: 25px;
  margin-bottom: 100px;
}

.founder-info h2 {
  font-family: "Poiret One", cursive;
  font-style: normal;
  font-weight: normal;
  font-size: 45px;
  line-height: 120%;

  color: #ffffff;

  margin-bottom: 38px;
}

.founder-info p {
  font-family: "KoHo", sans-serif;
  font-style: normal;
  font-weight: 200;
  font-size: 20px;
  line-height: 145%;

  color: #ffffff;

  width: 750px;
}

.founder-contact {
  width: 362px;
  border-top: 1px solid #dea616;
}

.founder-contact h2 {
  font-family: "Poiret One", cursive;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 100%;

  color: #ffffff;

  margin-top: 27px;
  margin-bottom: 8px;
}

.founder-contact span {
  color: #ffff;
}

.founder-contact span h5 {
  font-family: "Poiret One", cursive;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 23px;

  color: #ffffff;

  margin-top: 30px;
  margin-bottom: 10px;
}

.founder-contact span a {
  font-family: "KoHo", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 18px;
  /* identical to box height */

  color: #ffffff;
}

.founder-contact span p {
  font-family: "KoHo", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 18px;

  color: #ffffff;
}

/* === / Doing === */
