/* Font family: 

font-family: 'Lato', sans-serif;
font-family: 'Lora', serif;
font-family: 'Poiret One', cursive;


font-family: 'KoHo', sans-serif;
font-family: 'Lora', serif;
font-family: 'Roboto', sans-serif;

*/

/* === COMMON === */
*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
  position: relative;
}

body {
  font-family: "Roboto", sans-serif;
  padding: 0;
  margin: 0;
  background: #151413;
}
html {
  scroll-behavior: smooth;
}

div,
p,
input,
button,
form,
span,
a,
ul,
li {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

h5 span {
  color: #dea616;
}

a {
  padding: 0;
  margin: 0;
  text-decoration: none;
}

.container {
  width: 1301px;
  margin: 0 auto;
}

/* === COMON === */

/* === BUTTON === */

#button {
  position: relative;
  background: #151413;
  width: 275px;
}

#borderRight {
  border-right: 3px solid #151413;
  position: absolute;
  top: 22px;
  right: 1px;
  bottom: 0;
}

#borderBottom {
  border-bottom: 3px solid #151413;
  position: absolute;
  left: 196px;
  right: 0px;
  bottom: 0px;
  width: 75px;
}

.border-button {
  text-decoration: none;
  display: inline-block;
  padding: 13px 75px;
  position: relative;
  color: #dea616;
  font-size: 20px;
  line-height: 27px;
  border: 3px solid #dea616;
  background: none;
}
.border-button:after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
  box-sizing: border-box;
}
.border-button:after {
  z-index: 3;
  top: 3px;
  right: -3px;
  border-right: 3px solid #dea616;
  border-bottom: 3px solid #dea616;
  transition: 0s ease opacity 0.4s, 0.2s ease width, 0.2s ease height 0.2s;
}
.border-button:hover:after {
  height: 100%;
  width: 100%;
  opacity: 1;
}
.border-button:hover:after {
  transition: 0s ease opacity 0s, 0.2s ease height, 0.3s ease width 0.2s;
}

/* === BUTTON === */

/* Header burger */

.header__burgher {
  display: none;
}
.header__burgher.active span {
  transform: scale(0);
}
.header__burgher.active::before {
  transform: rotate(45deg);
  top: 9px;
}
.header__burgher.active::after {
  transform: rotate(-45deg);
  bottom: 9px;
}

/* Header burger */

/* === HEADER === */
.head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
}

.logo p {
  font-family: "KoHo", sans-serif;
  margin-left: 19px;
  margin-bottom: 8px;
  font-size: 16px;
  line-height: 136%;
  color: #dbcfb0;
}

.nav__list {
  display: flex;
}
.nav__list li {
  list-style: none;
  margin: 0 0 0 50px;
}
.nav__link a {
  font-weight: 300;
  font-size: 15px;
  line-height: 100%;
  color: #ffffff;
}
.nav__link:hover a {
  padding-bottom: 16px;
  border-bottom: 1px solid #dea616;
  transition: all 0.23s ease;
  color: #dea616;
}

.navline:after {
  content: "";
  position: absolute;
  top: 16px;
  left: -308px;
  right: 0;
  bottom: 0;
  width: 913px;
  border-bottom: 1px solid rgba(222, 166, 22, 0.19);
}

.phone {
  display: flex;
  align-items: center;
}

.phone span {
  margin-right: 7px;
}

.phone p {
  font-size: 15px;
  line-height: 100%;
  color: #dea616;
}

.header {
  padding-top: 24px;
  color: #fff;
  padding-bottom: 150px;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.offer {
  width: 480px;
}

.title {
  font-family: "KoHo", sans-serif;
  font-weight: 400;
  font-size: 45px;
  line-height: 56px;
}

.intro {
  font-weight: 300;
  margin-bottom: 34px;
  margin-top: 34px;
  width: 455px;
  font-size: 20px;
  line-height: 136%;
  color: #ffffff;
}

.head-image {
  position: relative;
}

.slider {
  position: relative;
  display: flex;
  flex-direction: column;
  outline: none;
  z-index: 2;
}

.slick-list {
  overflow: hidden;
  width: 758px;
  height: 738px;
  z-index: 1;
}

.desktop {
  position: relative;
  margin-top: 121px;
}

.slick-track {
  display: flex;
}

.slider__item {
  display: flex;
}

.image-back::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: -33px;
  width: 438px;
  height: 659px;
  border: 3px solid #dea616;
  z-index: -1;
}

.back-bottom::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: -21px;
  width: 0px;
  height: 25px;
  border: 2px solid#151413;
}

.back-top::after {
  content: "";
  position: absolute;
  right: 0px;
  top: -597px;
  width: 0px;
  height: 14px;
  border: 3px solid #151413;
}

.back-counter {
  display: flex;
  position: absolute;
  top: -607px;
  left: 16px;
  outline: none;
}

.big-numb {
  font-family: "PT Mono", monospace;
  font-weight: 400;
  font-size: 40px;
  line-height: 99.5%;
  color: #dea616;
}

.small-numb {
  font-family: "PT Mono", monospace;
  font-weight: 400;
  font-size: 23px;
  line-height: 99.5%;
  color: #bb9a47;
  margin-top: 14px;
  margin-left: -5px;
}

.slider .slick-dots {
  display: flex;
  position: absolute;
  bottom: 72px;
  left: 39px;
  z-index: 4;
}
.slider .slick-dots li {
  list-style: none;
  margin: 0 6px;
}
.slider .slick-dots button {
  font-size: 0;
  width: 15px;
  height: 15px;
  background-color: transparent;
  border: 1px solid #555159;
  cursor: pointer;
  transition: all 0.3s ease;
  outline: none;
}
.slider .slick-dots li.slick-active button {
  background-color: transparent;
  border: 1px solid #dea616;
  transition: all 0.3s ease;
}

/* .back-squares {
  display: flex;
  position: absolute;
  top: 0px;
  left: 0px;
  outline: none;
}

.square {

} */

/* === / HEADER === */

/* ==== Praise ==== */

.praise {
  background-color: #fff;
}

.title-left {
  font-family: "KoHo", sans-serif;
  font-weight: 200;
  font-size: 40px;
  line-height: 100%;
  color: #262328;

  padding-top: 80px;
  padding-bottom: 60px;
}

.triggers {
  display: flex;
  justify-content: space-between;
  padding-bottom: 115px;
}

.triggers:last-child {
  margin-right: 47px;
}

.triger {
  display: flex;
  flex-direction: column;
  border: 3px solid #262328;
  width: 172px;
  height: 131px;
  text-align: center;
}

.triger h2 {
  font-family: "Lora", serif;
  font-weight: bold;
  font-size: 50px;
  color: #262328;
  margin: 0 auto;
  margin-top: 22px;
}

.triger legend {
  display: table;
  position: relative;
  font-family: "KoHo", sans-serif;
  font-size: 30px;
  color: #262328;
  line-height: 140%;
  background-color: #fff;
  margin-top: -13px;
}

fieldset:nth-child(1) legend {
  margin-right: -62px;
}

fieldset:nth-child(2) legend {
  margin-right: -98px;
}

fieldset:nth-child(3) legend {
  margin-right: -90px;
}

fieldset:nth-child(4) legend {
  margin-right: -62px;
}
/* ==== / Praise ==== */

/* === Our-work === */

.our-work {
  background-color: #fff;
  padding-bottom: 125px;
}

.work {
  display: flex;
  justify-content: space-between;
}

.left-work-image {
  margin-bottom: 52px;
  position: relative;
}

.left-work-image::after {
  content: url("../img/ourWork/bordersvg.svg");
  bottom: -25px;
  right: 30px;
  position: absolute;
}

.left-work-image p {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 14px;
  color: #ffffff;
  position: absolute;
  right: 98px;
  bottom: 17px;
}

.left-work-image p span {
  color: #dea616;
}

.left-work-noslide {
  width: 490px;
  height: 343px;
  background: #151413;
  border-left: 3px solid #dea616;
  position: relative;
}

.left-work-noslide::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: -1px;
  height: 3px;
  width: 10px;
  background-color: #dea616;
}

.left-work-text {
  padding-top: 50px;
  padding-left: 50px;
  padding-right: 50px;
  color: #ffffff;
  display: flex;
  flex-direction: column;
}

.left-work-text h2 {
  font-family: "KoHo", sans-serif;
  font-weight: 400;
  font-size: 30px;
  line-height: 136%;
  margin-bottom: 61px;
}

.left-work-text p {
  font-weight: 300;
  font-size: 20px;
  line-height: 136%;
  margin-bottom: 52px;
}

.left-work-text a {
  align-self: flex-end;
  margin-right: -3px;
}

.right-work {
  border-top: 1px solid #dea616;
  width: 758px;
}

.right-work-noslide {
  margin-bottom: 52px;
}

.right-work-noslide h2 {
  font-family: "KoHo", sans-serif;
  font-weight: 400;
  font-size: 40px;
  line-height: 100%;
  color: #151413;

  margin-top: 27px;
  margin-bottom: 116px;
}

.right-work-noslide p {
  font-weight: 300;
  font-size: 20px;
  line-height: 136%;

  color: #151413;
}

.right-work-image {
  position: relative;
  z-index: 2;
}

.right-work-image-border::after {
  content: "";
  position: absolute;
  border: 3px solid #dea616;
  width: 719px;
  height: 350px;
  left: -22px;
  bottom: -34px;
  z-index: -1;
}

/* === / Our-work === */

/* === Catalog === */

.title-catalog {
  color: #ffffff;
  font-weight: 200;
}

.title-catalog span {
  color: #dea616;
}

.catalog-wrapper {
  display: flex;
  justify-content: space-between;
}

.one-item {
  display: flex;
  justify-content: space-between;
}

.one-item .second-item {
  margin-left: 35px;
}

.two-items {
  position: relative;
}

.two-items .first-item {
  margin-bottom: 35px;
}

.two-items .first-item .catalog-item-bottom,
.two-items .second-item .catalog-item-bottom {
  width: 442px;
  height: 50px;
}

.one-item .first-item .catalog-item-bottom,
.one-item .second-item .catalog-item-bottom {
  width: 394px;
  height: 50px;
}

.two-items .first-item .catalog-item-bottom,
.two-items .second-item .catalog-item-bottom,
.one-item .first-item .catalog-item-bottom,
.one-item .second-item .catalog-item-bottom {
  position: absolute;
  bottom: 3px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 33px;
  background: rgba(20, 19, 21, 0.5);
  backdrop-filter: blur(6px);
}

.two-items .first-item .catalog-item-bottom h3,
.two-items .second-item .catalog-item-bottom h3,
.one-item .first-item .catalog-item-bottom h3,
.one-item .second-item .catalog-item-bottom h3 {
  font-family: "KoHo", sans-serif;
  font-weight: 200;
  font-size: 25px;
  line-height: 100%;
  color: #ffffff;
}

.two-items .first-item .catalog-item-bottom img,
.two-items .second-item .catalog-item-bottom img,
.one-item .first-item .catalog-item-bottom img,
.one-item .second-item .catalog-item-bottom img {
  width: 22px;
  height: 17px;
}

/* === / Catalog === */

/* === Contact === */

.contact {
  background: url(../img/contact/house.png) no-repeat bottom;
  background-size: contain;
  background-color: #fff;
  padding-bottom: 550px;
}

.title-contact {
  padding-top: 100px;
  padding-bottom: 90px;
}

.contact-content-wrapper {
  display: flex;
  justify-content: space-between;
}

.contact-wrapper {
  width: 781px;
  height: 310px;
  border: 3px solid rgba(38, 35, 40, 0.8);
}

.contact-right {
  margin-top: -80px;
}

.form-contact {
  font-family: "KoHo", sans-serif;
  font-weight: 200;
  font-size: 20px;
  line-height: 23px;
  margin-bottom: 10px;

  color: #000000;
}

.form-contact-under {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  line-height: 18px;
  font-weight: 400;
  margin-bottom: 30px;

  color: #141315;
}

.left-contact-title {
  margin-top: 168px;
  line-height: 124.9%;
}
.form-wrapper {
  display: flex;
  flex-direction: column;
  padding-left: 150px;
  padding-top: 10px;
}
.form {
  width: 270px;
  position: relative;
  height: 50px;
  overflow: hidden;
  color: #262328;
  margin-bottom: 10px;
}

.form input {
  width: 100%;
  height: 100%;
  color: #262328;
  padding-top: 20px;
  border: none;
  outline: none;
  background-color: transparent;
}
.form label {
  position: absolute;
  bottom: 0px;
  left: 0%;
  width: 100%;
  height: 100%;
  pointer-events: none;
  border-bottom: 1px solid #262328;
}
.content-name {
  position: absolute;
  bottom: 5px;
  left: 0px;
  font-size: 15px;
  transition: all 0.3s ease;
}
.form input:focus + .label-name .content-name,
.form input:valid + .label-name .content-name {
  transform: translateY(-150%);
  font-size: 13px;
  color: #262328;
}

.form input:focus + .label-name::after,
.form input:valid + .label-name::after {
  transform: translateX(0%);
}

.sumbit-btn-wrapper {
  width: 162px;
  height: 46px;
  border: 3px solid #dea616;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.submit-btn input {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  line-height: 18px;
  color: #dea616;
  background-color: transparent;
  z-index: 10;
  cursor: pointer;
  width: 162px;
  height: 46px;
  outline: none;
}

.submit-borderRight {
  border-right: 3px solid #fff;
  position: absolute;
  top: 22px;
  right: -3px;
  bottom: 0;
}

.submit-borderBottom {
  border-bottom: 3px solid #fff;
  position: absolute;
  right: -3px;
  bottom: -3px;
  width: 56px;
}

.sumbit-btn-wrapper:after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
  box-sizing: border-box;
}

.sumbit-btn-wrapper:after {
  z-index: 3;
  top: 3px;
  right: -3px;
  border-right: 3px solid #dea616;
  border-bottom: 3px solid #dea616;
  transition: 0s ease opacity 0.4s, 0.2s ease width, 0.2s ease height 0.2s;
}

.sumbit-btn-wrapper:hover:after {
  height: 100%;
  width: 100%;
  opacity: 1;
}

.sumbit-btn-wrapper:hover:after {
  transition: 0s ease opacity 0s, 0.2s ease height, 0.3s ease width 0.2s;
}

.contact-button {
  display: flex;
}

.care {
  display: flex;
  align-self: flex-end;
  margin-left: 77px;
}

.care h5 {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  line-height: 14px;
  color: rgba(38, 35, 40, 0.49);
}

.contact-borderLeft {
  border-right: 3px solid #fff;
  position: absolute;
  top: 144px;
  left: 0px;
  bottom: 13px;
}

.contact-borderBottom {
  border-bottom: 3px solid #fff;
  position: absolute;
  left: 0px;
  bottom: 13px;
  width: 156px;
}

/* === / Contact === */

/* === Order === */

.order {
  padding-bottom: 100px;
  padding-top: 100px;
}

.order-wrapper {
  display: flex;
}

.order-image-1 {
  position: relative;
}

.order-image-1::after {
  content: url("../img/common/no-border-left.png");
  position: absolute;
  bottom: 30px;
  left: 30px;
}

.order-image-1 h5 {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  position: absolute;
  color: #fff;
  bottom: 38px;
  left: 30px;
  font-size: 15px;
  line-height: 136%;
}

.order-right {
  margin-left: 135px;
  border-top: 1px solid rgba(222, 166, 22, 0.26);
  width: 376px;
}

.title-order {
  padding: 0;
  padding-top: 27px;
  padding-bottom: 31px;
}

.order-right-paragraph {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 20px;
  line-height: 136%;
  color: #ffffff;

  padding-bottom: 81px;
}

.order-right-paragraph span {
  color: #dea616;
}

.order-describe {
  display: flex;
  margin-bottom: 24px;
}

.order-describe h4 {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 136%;
  color: rgba(255, 255, 255, 0.6);
  margin-right: 13px;
}

.order-describe:hover h4 {
  color: #dea616;
  cursor: pointer;
}

.order-describe.active h4 {
  color: #dea616;
}

.order-left {
  position: relative;
  width: 560px;
  height: 740px;
}

.order-images {
  position: absolute;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
}

.order-images.active {
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=1);
}

/* === / Order === */

/* Footer */

footer {
  padding: 100px 0;
}

footer .nav__link:hover a {
  padding: 0;
  border: none;
}

footer .navline:after {
  display: none;
}

footer .phone p {
  color: #fff;
}

/* / Footer  */
