* {
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Rubik", sans-serif;
}
.container {
  width: 100%;
  max-width: 1140px;
}
.nav-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
}
.nav-links ul {
  display: flex;
}
.links a {
  margin-left: 40px;
  font-size: 16px;
  line-height: 19px;
  color: #4f5665;
}
.links a:hover {
  color: #000;
  padding-bottom: 5px;
  border-bottom: 1px solid #000;
  transition: all 0.23s ease;
}
.nav-signIn {
  display: flex;
  align-items: center;
}
.signIn-btn a {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #0b132a;
  margin-right: 30px;
}
.signUp-btn a {
  border: 1px solid #f53855;
  border-radius: 50px;
  padding: 13px 45px;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #f53855;
}
.signUp-btn a:hover {
  color: #fff;
  background-color: #f53855;
  transition: all 0.23s ease;
}

#section-1 .contentWrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 90px;
}
#section-1 .textContent {
  width: 560px;
}
#section-1 .textContent h1 {
  margin-top: 26px;
  font-weight: 700;
  font-size: 50px;
  line-height: 70px;
  color: #0b132a;
}
#section-1 .textContent p {
  font-size: 16px;
  line-height: 30px;
  color: #4f5665;
}
#section-1 .textContent p span {
  font-weight: 500;
}
#section-1 .section-1-img {
  margin-right: -6%;
}
.btn {
  margin-top: 55px;
}
.btn a {
  background: #f53838;
  border-radius: 10px;
  box-shadow: 0px 25px 54px rgba(245, 56, 56, 0.35);
  padding: 18px 78px;
  font-weight: bold;
  font-size: 16px;
  line-height: 25px;
  color: #ffffff;
  transition: all 0.23s ease;
}
.btn a:hover {
  box-shadow: none;
  transition: all 0.23s ease;
}
.features {
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
  width: 1140px;
  height: 200px;
  background: #ffffff;
  border-radius: 10px;
  box-shadow: 0px 50px 114px rgba(13, 16, 37, 0.06);
}
.features-1 h4,
.features-2 h4,
.features-3 h4 {
  font-weight: bold;
  font-size: 25px;
  line-height: 30px;
  color: #0b132a;
}
.features-1 p,
.features-2 p,
.features-3 p {
  margin-top: 5px;
  font-size: 20px;
  line-height: 30px;
  color: #4f5665;
}

.features-1,
.features-2,
.features-3 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 360px;
  height: 126px;
  margin-top: 40px;
}
.features-2 {
  width: 430px;
  border-left: 2px solid #eeeff2;
  border-right: 2px solid #eeeff2;
}

#features-1-image,
#features-2-image,
#features-3-image {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ffecec;
  padding: 16px;
  border-radius: 70px;
  margin-right: 37px;
}
