* {
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  font-family: "Rubik", sans-serif;
}

.container {
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
  /* overflow: hidden; */
}

/* nav */

.nav-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
}

.nav-links ul {
  display: flex;
}

.links a {
  margin-left: 40px;
  font-size: 16px;
  line-height: 19px;
  color: #4f5665;
}

.links a:hover {
  color: #000;
  padding-bottom: 5px;
  border-bottom: 1px solid #000;
  transition: all 0.23s ease;
}

.nav-signIn {
  display: flex;
  align-items: center;
}

.signIn-btn a {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #0b132a;
  margin-right: 30px;
}

.signUp-btn a {
  border: 1px solid #f53855;
  border-radius: 50px;
  padding: 13px 45px;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #f53855;
}

.signUp-btn a:hover {
  color: #fff;
  background-color: #f53855;
  transition: all 0.23s ease;
}

/* / nav */

/* section-1 */

#section-1 .contentWrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 90px;
}

#section-1 .textContent {
  width: 560px;
}

#section-1 .textContent h1 {
  margin-top: 26px;
  font-weight: 700;
  font-size: 50px;
  line-height: 70px;
  color: #0b132a;
}

#section-1 .textContent p {
  margin-top: 20px;
  font-size: 16px;
  line-height: 30px;
  color: #4f5665;
}

#section-1 .textContent p span {
  font-weight: 500;
}

#section-1 .section-1-img {
  margin-right: -6%;
}

.btn {
  margin-top: 55px;
}

.btn a {
  background: #f53838;
  border-radius: 10px;
  box-shadow: 0px 25px 54px rgba(245, 56, 56, 0.35);
  padding: 18px 78px;
  font-weight: bold;
  font-size: 16px;
  line-height: 25px;
  color: #ffffff;
  transition: all 0.23s ease;
}
.btn a:hover {
  box-shadow: none;
  transition: all 0.23s ease;
}

.features {
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
  width: 1140px;
  height: 200px;
  background: #ffffff;
  border-radius: 10px;
  box-shadow: 0px 50px 114px rgba(13, 16, 37, 0.06);
}

.features-1,
.features-2,
.features-3 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 360px;
  height: 126px;
  margin-top: 40px;
}

.features-2 {
  width: 430px;
  border-left: 2px solid #eeeff2;
  border-right: 2px solid #eeeff2;
}

.features-1 h4,
.features-2 h4,
.features-3 h4 {
  font-weight: bold;
  font-size: 25px;
  line-height: 30px;
  color: #0b132a;
}

.features-1 p,
.features-2 p,
.features-3 p {
  margin-top: 5px;
  font-size: 20px;
  line-height: 30px;
  color: #4f5665;
}

#features-1-image,
#features-2-image,
#features-3-image {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ffecec;
  padding: 16px;
  border-radius: 70px;
  margin-right: 37px;
}

/* / section-1 */

/* section-2 */

#section-2 {
  margin-top: 100px;
  padding-bottom: 130px;
}

#section-2 .contentWrapper {
  display: flex;
  justify-content: space-between;
}

#section-2-image {
  width: 508px;
  height: 415px;
  margin-left: 30px;
}

#section-2 .textContent {
  width: 428px;
  margin-top: 55px;
}

#section-2 .textContent h3 {
  font-weight: 500;
  font-size: 35px;
  line-height: 50px;
  color: #0b132a;
}

#section-2 .textContent p {
  margin: 20px 0 5px 0;
  font-size: 16px;
  line-height: 30px;
  color: #4f5665;
}

#section-2 .done {
  display: flex;
  align-items: center;
  margin-top: 15px;
}

#section-2 .textContent .done p {
  font-size: 14px;
  line-height: 30px;
  color: #4f5665;
  margin: 0px 0 0 10px;
}

/* / section-2 */

/* section-3 */

#section-3 {
  background-color: #fbfbfb;
  padding-bottom: 100px;
}

.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 550px;
  margin: 0 auto;
}

.title h3 {
  margin-top: 80px;
  font-weight: 500;
  font-size: 35px;
  line-height: 50px;
  color: #0b132a;
}

.title p {
  margin-top: 20px;
  font-size: 16px;
  line-height: 30px;
  color: #4f5665;
}

.plans {
  display: flex;
  justify-content: space-between;
  margin-top: 60px;
}

.plan {
  display: flex;
  flex-direction: column;
  align-items: center;

  background: #ffffff;
  border: 2px solid #dddddd;
  border-radius: 10px;
  width: 330px;
}

.plan.active {
  border: 2px solid #f53838;
}

.plan-image {
  padding: 80px 0 30px 0;
}

.plan h5 {
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  color: #0b132a;
}

.plan-cheked {
  margin-top: 30px;
}

.cheked {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.cheked p {
  margin-left: 20px;
}

.free-plan .plan-price {
  margin-top: 120px;
}

.standart-plan .plan-price {
  margin-top: 90px;
}

.premium-plan .plan-price {
  margin-top: 50px;
}

.price {
  font-weight: 500;
  font-size: 25px;
  line-height: 30px;
  text-align: center;
  color: #0b132a;
  margin-bottom: 33px;
}

.plan-btn {
  margin-bottom: 60px;
}

.plan-btn a {
  border: 2px solid #f53838;
  border-radius: 50px;
  padding: 13px 63px;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  color: #f53838;
  transition: all 0.23s ease;
}

.plan-btn a:hover {
  background: #f53838;
  color: #fff;
  transition: all 0.23s ease;
}

.plan-btn.active a {
  box-shadow: 0px 17px 54px rgba(245, 56, 56, 0.35);
  background: #f53838;
  color: #fff;
}

.plan-btn.active a:hover {
  box-shadow: none;
}

/* / section-3 */

/* section-4 */

#section-4 {
  background-color: #fdfdfd;
}

.world {
  margin-top: 155px;
  margin-bottom: 30px;
}

.partners {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* / section-4 */

/* section-5 */

#section-5 {
  background-color: #fdfdfd;
}

.container .slider {
  overflow: hidden;
}

.slick-list {
  overflow: hidden;
  width: 1300px;
}

.slick-track {
  display: flex;
}

.slider__item {
  display: flex;
  outline: none;
}

.slider {
  position: relative;
}

.slider .slick-arrow {
  position: absolute;
  margin-top: 255px;
  z-index: 10;
  font-size: 0;
  width: 60px;
  height: 60px;
  border: 2px solid #f53838;
  border-radius: 50px;
  outline: none;
}

.slider .slick-arrow.slick-prev {
  right: 7%;
  background: url("../img/costumer/raiting/arrow.svg") 0 0 no-repeat;
  background-size: 30px;
  background-position: center;
  transition: all 0.23s ease;
}
.slider .slick-arrow.slick-next {
  right: 0;
  background: url("../img/costumer/raiting/arrow.svg") 0 0 no-repeat;
  transform: rotate(180deg);
  background-size: 30px;
  background-position: center;
  transition: all 0.23s ease;
}

.slider .slick-arrow.slick-next:hover,
.slider .slick-arrow.slick-prev:hover {
  background: url("../img/costumer/raiting/arrow-hover.svg") 0 0 no-repeat;
  background-size: 30px;
  background-position: center;
  background-color: #f53838;
  transition: all 0.23s ease;
}

.slider .slick-dots {
  display: flex;
  align-items: center;
  justify-content: left;
  margin-top: 83px;
  margin-bottom: 83px;
}
.slider .slick-dots li {
  list-style: none;
  margin: 0 15px;
}
.slider .slick-dots button {
  font-size: 0;
  width: 15px;
  height: 15px;
  background-color: #dde0e4;
  border-radius: 50px;
  border: none;
  transition: all 0.23s ease;
  outline: none;
}
.slider .slick-dots li.slick-active button {
  background-color: #f53838;
  border: none;
  width: 45px;
  height: 15px;
  transition: all 0.23s ease;
}

.slider {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-top: 60px;
}

.slide-wrapper {
  width: 340px;
  margin: 30px;
}

.slide {
  background: #ffffff;
  border: 2px solid #dddddd;
  box-sizing: border-box;
  border-radius: 10px;
}

.slider__item.slick-slide.slick-current.slick-active .slide {
  border: 2px solid #f53838;
  box-shadow: 0px 70px 114px rgba(13, 16, 37, 0.06);
}

.slide-head {
  display: flex;
  justify-content: space-between;
}

.costumer-info {
  display: flex;
  align-items: center;
}

.costumer {
  margin-left: 20px;
  display: flex;
  flex-direction: column;
}

.costumer h6 {
  font-weight: 500;
  font-size: 18px;
  color: #0b132a;
  margin-bottom: 5px;
}

.costumer p {
  font-weight: normal;
  font-size: 14px;
  color: #4f5665;
}

.comment {
  margin-top: 8px;
  font-size: 16px;
  line-height: 30px;
  color: #0b132a;
}

.raiting {
  display: flex;
  align-items: center;
}

.raiting p {
  margin-right: 10px;
}

/* / section-5 */

/* Subscribe */

.subscribe {
  position: relative;
  margin-bottom: -125px;
}

.subscribeWrapper {
  background: #ffffff;
  border-radius: 10px;
}

.sub-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 59px 70px;
}

.sub-btn {
  margin: 0;
}

.subtitle h2 {
  font-weight: 500;
  font-size: 35px;
  line-height: 45px;
  color: #0b132a;
}

.subtitle p {
  margin-top: 10px;
  font-size: 16px;
  line-height: 30px;
  color: #4f5665;
}

/* / Subscribe */

footer {
  background: #f8f8f8;
}

.footer-wrapper {
  display: flex;
  justify-content: space-between;
  padding-top: 180px;
  padding-bottom: 100px;
}

.share {
  display: flex;
  flex-direction: column;
  width: 340px;
  z-index: 1000;
}

.share p {
  margin-top: 20px;
  margin-bottom: 30px;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: #4f5665;
}
.share p span {
  font-weight: 500;
}
.share-links img {
  margin-right: 18px;
  border-radius: 50px;
  box-shadow: 0px 13px 18px rgba(17, 19, 35, 0.08);
  margin-bottom: 10px;
  transition: all 0.23s ease;
}

.share-links img:hover {
  box-shadow: none;
  transition: all 0.23s ease;
}

.rights p {
  margin-top: 30px;
  font-size: 16px;
  line-height: 30px;
  color: #afb5c0;
}

.footer-links {
  display: flex;
  justify-content: space-between;
}

.product-title {
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  color: #0b132a;
  margin-bottom: 20px;
}

.product-list li {
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  color: #4f5665;
  margin-bottom: 10px;
}
.product-list li:hover {
  color: #000;
  transition: all 0.23s ease;
}

.engage {
  margin: 0 126px;
}
