* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  color: blue;
  text-decoration: none;
}
body {
  background-color: #f3f1e3;
  font-family: "Montserrat", sans-serif;
  min-width: 1286px;
}
html {
  scroll-behavior: smooth;
}
.page-wrapper-wide {
  position: relative;
  max-width: 99vw;
  margin: 0 auto;
  padding-bottom: 50px;
}
.first-page {
  position: relative;
  width: 1920px;
}
.page-wrapper {
  max-width: 1300px;
  margin: 0 auto;
}
.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.logo-wrapper {
  margin-top: 46px;
}
.nave {
  margin-top: 40px;
  display: flex;
  z-index: 1;
}
.nav {
  list-style: none;
  display: flex;
  margin-right: 50px;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  transition: all 0.3s ease;
}
.nav:hover {
  color: #fff;
  padding-bottom: 5px;
  border-bottom: 1px solid rgb(185, 185, 185);
  transition: all 0.23s ease;
}
.nav.active {
  font-weight: 600;
  font-size: 16px;
}
.nav-wrapper {
  display: flex;
  right: 0;
  z-index: 3;
}
.cup img {
  position: absolute;
  z-index: -10;
  right: 0;
  top: 0;
  width: 1090px;
}
.about {
  display: flex;
  flex-direction: column;
  margin-top: 210px;
}
.about .mini-title {
  font-weight: 300;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.12em;

  color: #4f403f;
}
.about .title {
  margin-top: 35px;
  font-weight: 800;
  font-size: 56px;
  line-height: 60px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #170805;
}
.about .subtitle {
  margin-top: 20px;
  font-weight: 300;
  font-size: 34px;
  line-height: 60px;
  letter-spacing: -0.005em;
  text-transform: uppercase;

  color: #170805;
}
.about .subtitle span {
  color: #ffffff;
}
.about .btn {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 276px;
  height: 60px;
  background: #448b6d;
  border-radius: 10px;
  transition: all 0.3s ease;
  cursor: pointer;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
}
.about .btn:hover {
  background: transparent;
  border: 2px solid #448b6d;
  box-sizing: border-box;
  border-radius: 10px;
  color: #448b6d;
  transition: all 0.3s ease;
}
.scroll {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 270px;
  width: 141px;
  height: 42px;
}
.scroll img {
  width: 16.5px;
  height: 42px;
  margin-right: 11.5px;
}
.scroll .scroll-text {
  font-weight: 300;
  font-size: 16px;
  line-height: 20px;

  color: #170805;
}
.second-page {
  position: relative;
  padding-top: 200px;
  padding-bottom: 260px;
  width: 1920px;
  background: url("../img/back.png") no-repeat;
  background-position: right bottom;
  background-color: #fff;
}
.discover-us {
  display: flex;
  align-items: center;
}
.right {
  display: flex;
  flex-direction: column;
  margin-left: 100px;
}
.right .title {
  font-weight: 800;
  font-size: 40px;
  line-height: 60px;
  letter-spacing: -0.005em;
  color: #170805;
}
.right .text {
  margin-top: 10px;
  font-weight: 400;
  font-size: 18px;
  line-height: 34px;
  color: #170805;
  width: 400px;
  height: 138px;
}
.right .btn {
  width: 253px;
  height: 60px;
  background: #448b6d;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 18px;
  line-height: 34px;
  color: #ffffff;
  margin-top: 33px;
}
.right .btn:hover {
  background: transparent;
  border: 2px solid #448b6d;
  box-sizing: border-box;
  border-radius: 10px;
  color: #448b6d;
  transition: all 0.3s ease;
}
.menu {
  display: flex;
  align-content: center;
  font-weight: 800;
  font-size: 40px;
  line-height: 60px;
  letter-spacing: -0.005em;
  color: #170805;
  width: 119px;
  height: 61px;
  margin-top: 25px;
  margin-bottom: 25px;
}
.third-page {
  position: relative;
  width: 1920px;
  background-color: #fff;
  padding-bottom: 100px;
}
.ice-blended {
  position: relative;
}
.ice-blended .title {
  padding-top: 100px;
  display: flex;
  justify-content: center;
  font-weight: bold;
  font-size: 30px;
  line-height: 37px;
  color: #170805;
}
.ice-blended .title::before {
  content: "";
  background: url("../img/arrow-left.png");
  background-repeat: no-repeat;
  background-position: left center;
  padding-right: 60px;
  cursor: pointer;
}
.ice-blended .title::after {
  content: "";
  background: url("../img/dots.png");
  background-repeat: no-repeat;
  background-position: right center;
  padding-left: 60px;
  cursor: pointer;
}

.content {
  display: flex;
  justify-content: center;
  margin-top: 70px;
}
.content .cont {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 317px;
  height: 607px;
  outline: none;
  transition: all 0.4s ease;
}
.content .cont img {
  width: 172px;
  height: 325px;
}
.content .slick-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 317px;
  height: 607px;
  background: #e8e5d4;
  border-radius: 15px;
  transition: all 0.5s ease;
  outline: none;
}
.content .slick-center img {
  margin-top: 30px;
  margin-bottom: 30px;
  transform: scale(1.2);
  transition: all 0.5s ease;
}
.new {
  position: absolute;
  display: none;
  align-items: center;
  justify-content: center;
  width: 51px;
  height: 21px;
  background: #20a86f;
  border-radius: 5px;
  top: 0;
  left: 14px;
  font-weight: 300;
  font-size: 15px;
  line-height: 20px;
  color: #ffffff;
  transition: all 0.5s ease;
}
.content .slick-center .new {
  display: flex;
}
.cont .name {
  margin-top: 20px;
  width: 212px;
  height: 48px;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #4f403f;
}
.slick-center .name {
  color: rgba(23, 8, 5, 1);
}
.cont .price {
  margin-top: 16px;
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
}
.content .slick-center .btn {
  display: flex;
}
.btn {
  display: none;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 50px;
  margin-top: 14px;
  background: #448b6d;
  border-radius: 10px;
  font-weight: bold;
  font-size: 18px;
  line-height: 34px;
  color: #ffffff;
  transition: all 0.3s ease;
}
.content .slick-center .btn:hover {
  background: transparent;
  border: 2px solid #448b6d;
  box-sizing: border-box;
  border-radius: 10px;
  color: #448b6d;
  transition: all 0.3s ease;
}
.slick-arrow {
  position: absolute;
  top: 60%;
}
.arrow_next {
  right: 0;
}

.four-page {
  background: #170805;
}
.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  padding-top: 130px;
  padding-bottom: 90px;
}
.nav-wrapper-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
/* .navb {
  list-style: none;
  display: flex;
  margin-right: 50px;
  font-size: 16px;
  color: #f3f1e3;
  transition: all 0.2s ease;
}
.navb:hover {
  color: #fff;
  padding-bottom: 3px;
  transition: all 0.2s ease;
  border-bottom: 1px solid #fff;
} */
.navb {
  list-style: none;
  display: flex;
  margin-right: 50px;
  font-size: 16px;
  line-height: 20px;
  color: #f3f1e3;
  transition: all 0.3s ease;
}
.navb:hover {
  color: #f3f1e3;
  padding-bottom: 5px;
  border-bottom: 1px solid rgb(185, 185, 185);
  transition: all 0.23s ease;
}
.navb-wrapper {
  display: flex;
  right: 0;
  z-index: 3;
}
.phone {
  position: relative;
  font-size: 18px;
  line-height: 22px;
  height: 22px;
  color: rgba(243, 241, 227, 0.9);
}
.phone::before {
  content: "";
  position: absolute;
  background: url("../img/phone.png");
  background-repeat: no-repeat;
  width: 17px;
  height: 18px;
  right: 153px;
}
